NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://abdelmonemhatem_db_user:xxxxxxxxxNDuy@cluster0.lrvqgij.mongodb.net/?appName=Cluster0
EMBEDDING_PROVIDER=huggingface
HUGGINGFACE_API_KEY=hf_zVjzOXXMUIzPGFWVBkjPKhDfGxxxxxaaKeUwjHm
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
VECTOR_DB_PROVIDER=qdrant
VECTOR_DB_URL=https://fbf945c8-ec9f-4006-8f04-cd830cda0f64.sa-east-1-0.aws.cloud.qdrant.io
VECTOR_DB_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCIxxxxxx6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.-d90kFI8XUAlPpjts9SrNKVpppLS70nHhrl4WInBpf0
VECTOR_COLLECTION=movies
VECTOR_DIMENSION=384


